@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@200;400&family=Oswald:wght@400;500&display=swap");
body {
  background: #48c6ef;
  background: -moz-linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
  background: -webkit-linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
  background: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
  color: white;
}
.card {
  border: 3px solid;
  border-radius: 5px;
  overflow: hidden;
  width: 350px;
  margin: 10px;
  margin-top: 40px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.card .title {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
}

.card .content {
  background-color: #fff;
  color: #000;
  padding: 10px;
  flex: 1;
  font-family: "Oswald", sans-serif;
}
